@import controllers.dtos.BookDTO
@import helper._
@(books: Seq[BookDTO])(implicit request: RequestHeader, messagesProvider : MessagesProvider)

<!DOCTYPE html>
<html lang="ja">
    @views.html.header(title = "登録書籍")
        <div class="container">
            <div class="books-list">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>@Messages("BookTitle")</th>
                            <th>@Messages("BookAuthor")</th>
                            <th></th>
                            @*追加*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @if(books.isEmpty) {
                        <h5>@Messages("NotFoundBook")</h5>
                    } else {
                        @for(book <- books) {
                            <tr>
                                <td>@book.name</td>
                                <td>@book.author</td>
                                <td><a class="waves-effect waves-light btn-small" href=@routes.UpdateBookController.index(book.id)>@Messages("Details")</a></td>
                                @*追加*@
                                <td>@form(CSRF(routes.DeleteBookController.delete(book.id))) {
                                    <button class="waves-effect waves-light red lighten-2 btn-small"><i class = "material-icons">delete</i></button>
                                }</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    @views.html.footer()
</html>