@import controllers.dtos.BookDTO
@import helper._
@(books: Seq[BookDTO])(implicit messagesProvider : MessagesProvider)

<!DOCTYPE html>
<html lang="ja">
    @views.html.header(title = "登録書籍")
        <div class="container">
            <div class="books-list">
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>@Messages("BookTitle")</th>
                            <th>@Messages("BookAuthor")</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if(books.isEmpty) {
                        <h5>@Messages("NotFoundBook")</h5>
                    } else {
                        @for(book <- books) {
                            <tr>
                                <td>@book.name</td>
                                <td>@book.author</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    @views.html.footer()
</html>