@import controllers.dtos.BookDTO
@import helper._
@(books: Seq[BookDTO])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <title>"登録書籍"</title>
    </head>
    <body>
        <header>
            <nav >
                <div>
                    <a href="/books" class="brand-logo center">書籍管理システム</a>
                    <ul>
                        <li><a href="#!">新規登録</a></li>
                        <li><a href="/books">書籍一覧</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>タイトル</th>
                        <th>著者</th>
                    </tr>
                </thead>
                <tbody>
                @if(books.isEmpty) {
                    <h5>該当する本がありません</h5>
                } else {
                    @for(book <- books) {
                        <tr>
                            <td>@book.name</td>
                            <td>@book.author</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </body>
    <footer>
        <div>
            <div>
                <h5>書籍管理システム</h5>
            </div>
        </div>
        <div>
            <div>
                © 2019 Copyright 書籍管理システム
            </div>
        </div>
    </footer>
</html>