@(title: String)(implicit messagesProvider: MessagesProvider)

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("css/materialize.min.css")" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="@routes.Assets.versioned("css/materialize.css")" media="screen,projection"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>@title</title>
    </head>
    <body>
        <script type="text/javascript" src="@routes.Assets.versioned("js/materialize.min.js")"></script>
        <header>
            <nav >
                <div class="nav-wrapper teal lighten-2">
                    <a href="/books" class="brand-logo center">@Messages("Title")</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/books/register">@Messages("RegisterBook")</a></li>
                        <li><a href="/books">@Messages("BookList")</a></li>
                    </ul>
                </div>
            </nav>
        </header>
